<section>
  <div class="headingParaFlex">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      XITY :
    </p>
    <p class="font-dmsans text-white cursor-pointer font-18">
      <a class="text-white" href="https://xity.in/" target="_blank"
        ><i class="fa-solid fa-paperclip text-white"></i
        ><span class="mx-2">https://xity.in/</span></a
      >
    </p>
  </div>
</section>
<section @fadeInOut>
  <div class="row">
    <div class="col-12 col-lg-7 col-md-8 col-sm-12">
      <div class="featuredProjectImage">
        <img class="responsiveImageCover" src="assets/images/xity.jpg" alt="someImage.png"/>
      </div>
    </div>
    <div class="col-12 col-lg-5 col-md-4 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
        >It is a location based business platform , where owners can post their
        business listings under the directory module . The users can browse
        businesses based on pincodes , and interact with the business owners as
        well.
        <!-- <br>
        Other details are hidden for obvious reasons -->
      </P>
      <!-- <p class="text-white font-20 line-height-28 font-weight-500 pb-2">
        TECH : Angular 16 , Node JS , Mongo DB , Express JS , Google Maps
      </p> -->
    </div>
  </div>

  <!-- <div class="py-3">
    <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
      <li>
        The website is developed in Angular 16 with angular material ,bootstrap
        ,ng-bootstrap and ngx-bootstrap for styling the componenets.
      </li>
      <li>
        We also had a theme which we installed to adopt componenets directly
        into the website.
      </li>
      <li>
        Made use of ngx-pagination to implement server sided pagination wherever
        required.
      </li>
      <li>Made use of apache-echarts for pictorially representing data.</li>
      <li>
        Made use of angular/google-maps to show listings on the map based on
        pincodes.
      </li>
      <li>
        The admin panel is developed in angular 15 with similar UI libraries in
        the front end.
      </li>
      <li>
        It has role based access implementation for maintaining the location
        data under agents.
      </li>
      <li>
        The admin panel can control content for verticals of xity , for eg:
        holychic.in , chimni.in etc via the superadmin access.
      </li>
      <li>
        Made use of angular datatables to display tabular data with all the
        necessary actions as well.
      </li>
      <li>
        For the backend , developed REST APIs using express JS , mongoose etc.
      </li>
      <li>
        Developed optimized queries for fetching server sided data for the
        tables in admin as well as for the data in the main frontend website.
      </li>
      <li>
        Developed advanced queries using mongodb aggrgation pipelines for
        fetching complex data.
      </li>
      <li>
        Worked with dates using moment js to ftech data as per current date and
        time.
      </li>
      <li>
        Used google firebase to store media files with the help of multer js.
      </li>
    </ul>
  </div> -->

  <!-- <div class="headingParaFlex">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      XITY ADMIN PANEL / BACKEND:
    </p>
    <p class="font-dmsans text-white cursor-pointer font-18">
      <a class="text-white" href="https://admin.xity.in/" target="_blank"
        ><i class="fa-solid fa-paperclip text-white"></i
        ><span class="mx-2">https://admin.xity.in/</span></a
      >
    </p>
  </div>

  <div class="row">
    <div class="col-12 col-lg-7 col-md-8 col-sm-12">
      <div class="featuredProjectImage">
        <img class="responsiveImageCover" src="assets/images/adminxity.jpg" alt="someImage.png"/>
      </div>
    </div>
    <div class="col-12 col-lg-5 col-md-4 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
        >It is the powerhouse for the main webiste of xity as well as other
        verticals (holychic , azari etc) that serve different purposes but under
        the same organisation of ornda
      </P>
    </div>
  </div> -->

  <!-- <div class="py-3">
    <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
      <li>
        The admin panel is developed in angular 15 with similar UI libraries in
        the front end.
      </li>
      <li>
        It has role based access implementation for maintaining the location
        data under agents.
      </li>
      <li>
        The admin panel can control content for verticals of xity , for eg:
        holychic.in , chimni.in etc via the superadmin access.
      </li>
      <li>
        Made use of angular datatables to display tabular data with all the
        necessary actions as well.
      </li>
      <li>
        For the backend , developed REST APIs using express JS , mongoose etc.
      </li>
      <li>
        Developed optimized queries for fetching server sided data for the
        tables in admin as well as for the data in the main frontend website.
      </li>
      <li>
        Developed advanced queries using mongodb aggrgation pipelines for
        fetching complex data.
      </li>
      <li>
        Worked with dates using moment js to ftech data as per current date and
        time.
      </li>
      <li>
        Used google firebase to store media files with the help of multer js.
      </li>
    </ul>
  </div> -->
</section>
