<section>
  <div class="headingParaFlex">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      ZEST NUTRITION :
    </p>
    <p class="font-dmsans text-white cursor-pointer font-18">
      <a class="text-white" href="https://zestnutrition.in/" target="_blank"
        ><i class="fa-solid fa-paperclip text-white"></i
        ><span class="mx-2">https://zestnutrition.in/</span></a
      >
    </p>
  </div>

  <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
    >It is a platform which contains the listings for a wide range of businesses
    across multiple categories.A user can search for listings by locating
    through pincodes and get connected to the business . Anybody can have a
    business and that person can host its business on this website
  </P>
</section>

<section @fadeInOut>
  <div class="row">
    <div class="col-12 col-lg-7 col-md-8 col-sm-12">
      <div class="featuredProjectImage">
        <img class="responsiveImageCover" src="assets/images/zest.jpg" alt="someImage.png"/>
      </div>
    </div>
    <div class="col-12 col-lg-5 col-md-4 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
        >Zest Nutrition is an e-commerce website that sells plant based protien
        / nutrition online.
      </P>
      <p class="text-white font-20 line-height-28 font-weight-500 pb-2">
        TECH : Angular 15 , HTML , CSS , Swiper JS
      </p>
    </div>
  </div>

  <div class="py-3">
    <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
      <li>
        The website is developed in Angular 15 with angular material ,bootstrap
        ,ng-bootstrap and ngx-bootstrap for styling the componenets.
      </li>
      <li>Revamped the UI of the existing website with that of the new one.</li>
      <li>Included slug based urls for navigation into products</li>
      <li>Developed rating components into the app.</li>
    </ul>
  </div>
</section>
