<section>
  <div class="headingParaFlex">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      XARK :
    </p>
    <p class="font-dmsans text-white cursor-pointer font-18">
      <a class="text-white" href="https://xark.in/" target="_blank"
        ><i class="fa-solid fa-paperclip text-white"></i
        ><span class="mx-2">https://xark.in/</span></a
      >
    </p>
  </div>

</section>

<section  @fadeInOut>
  <div class="row">
    <div class="col-12 col-lg-7 col-md-8 col-sm-12">
      <div class="featuredProjectImage">
        <img class="responsiveImageCover" src="assets/images/xark.jpg" alt="someImage.png"/>
      </div>
    </div>
    <div class="col-12 col-lg-5 col-md-4 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
        >Xark is a white label project under xity , but we had all types of listings under xity but for these , we only listings of only a particular type. 
      </P>
      <p class="text-white font-20 line-height-28 font-weight-500 pb-2">
        TECH : Angular 17 , HTML , CSS , Swiper JS ,Node JS , Mongo DB
      </p>
    </div>
  </div>

  <div class="py-3">
    <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
      <li>
        The website is developed in Angular 17 with angular material ,bootstrap
        ,ng-bootstrap and ngx-bootstrap for styling the componenets.
      </li>
      <li>
       The website consumes tha same apis that were built for xity.in but only for a more asthetic design.
      </li>
      <li>Made use of prime ng for developing slider sections</li>
      <li>
       Lazy loaded modules for the angular app for a clean performance
      </li>
      <li>
       Added loaders from ngx-loading bar for visual route change.
       </li>
    </ul>
  </div>

 
</section>
