<section>
  <div class="headingParaFlex">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      SHAMMAH BRANDICRAFTS :
    </p>
    <p class="font-dmsans text-white cursor-pointer font-18">
      <a class="text-white" href="https://getshammah.com/" target="_blank"
        ><i class="fa-solid fa-paperclip text-white"></i
        ><span class="mx-2">https://getshammah.com/</span></a
      >
    </p>
  </div>
</section>

<section @fadeInOut>
  <div class="row">
    <div class="col-12 col-lg-7 col-md-8 col-sm-12">
      <div class="featuredProjectImage">
        <img class="responsiveImageCover" src="assets/images/shammah.jpg" alt="someImage.png"/>
      </div>
    </div>
    <div class="col-12 col-lg-5 col-md-4 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
        >Shammah Brandicrafts is a branding agency based in chennai .
      </P>
      <p class="text-white font-20 line-height-28 font-weight-500 pb-2">
        TECH : Angular 17 , HTML , CSS
      </p>
    </div>
  </div>

  <div class="py-3">
    <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
      <li>
        The website is static and is developed in Angular 15 with angular
        material ,bootstrap ,ng-bootstrap and ngx-bootstrap for styling the
        componenets.
      </li>
      <li>Used GSAP to build pyramid rotation animation in the home page.</li>
      <li>Lazy loaded modeules in the front end ensuring good performance.</li>
    </ul>
  </div>
</section>
