<section>
    <div class="headingParaFlex">
      <p
        class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
      >
        KANNADA MUHURTHAM :
      </p>
      <p class="font-dmsans text-white cursor-pointer font-18">
        <a class="text-white" href="https://kannadamuhurtham.com/" target="_blank"
          ><i class="fa-solid fa-paperclip text-white"></i
          ><span class="mx-2">https://kannadamuhurtham.com/</span></a
        >
      </p>
    </div>
  </section>
  <section @fadeInOut>
    <div class="row">
      <div class="col-12 col-lg-7 col-md-8 col-sm-12">
        <div class="featuredProjectImage">
          <img class="responsiveImageCover" src="assets/images/kannada_muhurthum.jpg" alt="someImage.png"/>
        </div>
      </div>
      <div class="col-12 col-lg-5 col-md-4 col-sm-12">
        <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
          >It is a matrimony website in which users can signup / log in and search for their partners online and get married if they find their choice. 
        </P>
        <p class="text-white font-20 line-height-28 font-weight-500 pb-2">
          TECH : Angular 18 , Node JS , Mongo DB , Express JS 
        </p>
      </div>
    </div>
  
    <div class="py-3">
      <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
        <li>
          The website is developed in Angular 16 with angular material ,bootstrap
          ,ng-bootstrap and ngx-bootstrap for styling the componenets.
        </li>
        <li>
          Made use of ngx-pagination to implement server sided pagination wherever
          required.
        </li>
        <li>
          Added complex sorting and filtering features
        </li>
       
      </ul>
    </div>
  
    <div class="headingParaFlex">
      <p
        class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
      >
      KANNADA MUHURTHAM ADMIN PANEL / BACKEND:
      </p>
      <p class="font-dmsans text-white cursor-pointer font-18">
        <a class="text-white" href="https://admin.kannadamuhurtham.com/" target="_blank"
          ><i class="fa-solid fa-paperclip text-white"></i
          ><span class="mx-2">https://admin.kannadamuhurtham.com/</span></a
        >
      </p>
    </div>
  
    <div class="row">
      <div class="col-12 col-lg-7 col-md-8 col-sm-12">
        <div class="featuredProjectImage">
          <img class="responsiveImageCover" src="assets/images/kalyanam_admin.jpg" alt="someImage.png"/>
        </div>
      </div>
      <div class="col-12 col-lg-5 col-md-4 col-sm-12">
        <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
          >It is the powerhouse for the main webiste
        </P>
      </div>
    </div>
  
    <div class="py-3">
      <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
        <li>
          The admin panel is developed in angular 18 with similar UI libraries in
          the front end.
        </li>
        <li>
          It has dynamic role based access implementation based on permissions of menu items in the admin panel
        </li>
        <li>
          The admin panel can control content of all the filters , profiles etc
        </li>
        <li>
         Developed complex logics for matching of profiles etc
        </li>
        <li>
          Developed complex logics for sending interests , shortlisting , viewing contacts , viewing profiles etc
         </li>
      
      </ul>
    </div>
  </section>
  