

  
<section>
  <div class="headingParaFlex">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
    KANAPPA MEMORIAL HOSPITAL :
    </p>
    <p class="font-dmsans text-white cursor-pointer font-18">
      <a
        class="text-white"
        href="https://kannappamemorialhospital.com/"
        target="_blank"
        ><i class="fa-solid fa-paperclip text-white"></i
        ><span class="mx-2">https://kannappamemorialhospital.com/</span></a
      >
    </p>

  </div>

</section>

<section @fadeInOut>
  <div class="row">
    <div class="col-12 col-lg-7 col-md-8 col-sm-12">
      <div class="featuredProjectImage">
        <img class="responsiveImageCover" src="assets/images/kannappa.jpg" alt="someImage.png"/>
      </div>
    </div>
    <div class="col-12 col-lg-5 col-md-4 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
        >Kanappa Memorial Hospitals is a hospital group in Chennai .
      </P>
      <p class="text-white font-20 line-height-28 font-weight-500 pb-2">
        TECH : Angular 17 , HTML , CSS 
      </p>
    </div>
  </div>

  <div class="py-3">
    <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
      <li>
        The website is developed in Angular 17 with angular material ,bootstrap
        ,ng-bootstrap and ngx-bootstrap for styling the componenets.
      </li>
      <li>
      The website came for a revamp , developed the new fully responsive UI 
      </li>
      <li>Integrated the APIs that were taken from the already existing website</li>
      <li>
        Added basic animations using gsap.
      </li>
    </ul>
  </div>

  
</section>
