<section>
    <div class="headingParaFlex">
      <p
        class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
      >
        A2A :
      </p>
      <p class="font-dmsans text-white cursor-pointer font-18">
        <a class="text-white" href="https://frontend-attendence.vercel.app/" target="_blank"
          ><i class="fa-solid fa-paperclip text-white"></i
          ><span class="mx-2">https://frontend-attendence.vercel.app/</span></a
        >
      </p>
    </div>
  </section>
  <section @fadeInOut>
    <div class="row">
      <div class="col-12 col-lg-7 col-md-8 col-sm-12">
        <div class="featuredProjectImage">
          <img class="responsiveImageCover" src="assets/images/a2a.jpg" alt="someImage.png"/>
        </div>
      </div>
      <div class="col-12 col-lg-5 col-md-4 col-sm-12">
        <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
          >It is a SaaS platform to manage medium scal enterprises which is still under development stage , and under beta testing for a client as well , consists of attendance , inventory and sales management at the moment , team management , content management etc is still under progress.
        </P>
        <p class="text-white font-20 line-height-28 font-weight-500 pb-2">
          TECH : Angular 18 , Node JS , Mongo DB , Express JS
        </p>
      </div>
    </div>
  
    <div class="py-3">
      <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
        <li>
         The process flow includes creating and registering as an organisation and creating branches , roles , users etc for your organisation. 
        </li>
        <li>
         Each employee can login to the system and perform their operations like marking attendance (we calculate the duration for each day and that can be exported as an excel as well) , managing inventory , generating sales invoice etc
        </li>
        <li>
          Made use of all the latest tech with regards to the MEAN stack
        </li>
      </ul>
    </div>
  
    
  </section>
  