<section>
  <div class="headingParaFlex">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      BANK MANAGEMENT SYSTEM :
    </p>
    <p class="font-dmsans text-white cursor-pointer font-18">
      <a
        class="text-white"
        href="https://github.com/akavishwa19/BankingSystem"
        target="_blank"
        ><i class="fa-solid fa-paperclip text-white"></i
        ><span class="mx-2"
          >https://github.com/akavishwa19/BankingSystem</span
        ></a
      >
    </p>
  </div>
</section>

<section @fadeInOut>
  <div class="row">
    <div class="col-12 col-lg-7 col-md-8 col-sm-12">
      <div class="featuredProjectImage">
        <img class="responsiveImageCover" src="assets/images/bank.jpg" />
      </div>
    </div>
    <div class="col-12 col-lg-5 col-md-4 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
        >A dynamic bank management system made using java
      </P>
      <p class="text-white font-20 line-height-28 font-weight-500 pb-2">
        TECH : Java
      </p>
    </div>
  </div>

  <div class="py-3">
    <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
      <li>
        The person can register , log in and transfer money , change pin , check
        balance etc.
      </li>
      <li>Developed only in java.</li>
    </ul>
  </div>
</section>
