<section>
  <div class="headingParaFlex">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      VIDBURN :
    </p>
    <p class="font-dmsans text-white cursor-pointer font-18">
      <a
        class="text-white"
        href="https://www.loom.com/share/1ad153ff588f4403927912dddcf6a1f1?sid=3fc96156-b192-4696-956f-9ac97fa8e0bc"
        target="_blank"
        ><i class="fa-solid fa-paperclip text-white"></i
        ><span class="mx-2">demo</span></a
      >
    </p>
  </div>

  <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
    >VidBurn is an AI-powered Node.js application that enhances your videos by
    automatically generating subtitles using OpenAI's Whisper and syncing
    relevant static images from Pexels. The final output is a video with
    burned-in subtitles and imagery that visually complements your content.
  </P>
</section>

<section @fadeInOut>
  <div class="row">
    <div class="col-12 col-lg-7 col-md-8 col-sm-12">
      <div class="featuredProjectImage">
        <img
          class="responsiveImageCover"
          src="assets/images/vidburn.png"
          alt="someImage.png"
        />
      </div>
    </div>
    <div class="col-12 col-lg-5 col-md-4 col-sm-12">

      <p class="text-white font-20 line-height-28 font-weight-500 pb-2">
        TECH : Angular 17 , Node JS , Python , Open AI Whisper , Ffmpeg
      </p>
    </div>
  </div>

  <div class="py-3">
    <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
      <li>
      A server heavy application that accepts a video
      </li>
      <li>Generates the subtitles and relevant images for the video using AI</li>
      <li>Burns the subtitles and images on the original video perfectly synched</li>
      <li>Return the AI transformed video to the user</li>
    </ul>
  </div>
</section>
