<section>
  <div class="headingParaFlex">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      INSHLT :
    </p>
    <p class="font-dmsans text-white cursor-pointer font-18">
      <a class="text-white" href="https://www.inshlt.org/" target="_blank"
        ><i class="fa-solid fa-paperclip text-white"></i
        ><span class="mx-2">https://www.inshlt.org/</span></a
      >
    </p>
  </div>
</section>

<section @fadeInOut>
  <div class="row">
    <div class="col-12 col-lg-7 col-md-8 col-sm-12">
      <div class="featuredProjectImage">
        <img class="responsiveImageCover" src="assets/images/inshlt.jpg" />
      </div>
    </div>
    <div class="col-12 col-lg-5 col-md-4 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
        >INSHLT is an organisation for the doctors of heart and lunf
        transplantation society of India.
      </P>
      <p class="text-white font-20 line-height-28 font-weight-500 pb-2">
        TECH : Angular 15 , Node JS , Mongo DB , Express JS
      </p>
    </div>
  </div>

  <div class="py-3">
    <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
      <li>
        The website is developed in Angular 15 with angular material ,bootstrap
        ,ng-bootstrap and ngx-bootstrap for styling the componenets.
      </li>
      <li>Used theme and modified it to get the UI</li>
      <li>
        Added functionality to add events , news , gallery etc via the admin
        panel.
      </li>
      <li>Handled dates using moment js.</li>
      <li>Stored media files on google firebase/storage</li>
      <li>Used interceptors to attach request headers and jwt token.</li>
      <li>
        Integrated razorpay payment gateway for creating orders , checkout ,
        capture etc.
      </li>
    </ul>
  </div>
</section>
