<section>
    <div class="headingParaFlex">
      <p
        class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
      >
       SD COVERINGS :
      </p>
      <p class="font-dmsans text-white cursor-pointer font-18">
        <a class="text-white" href="https://sdcovering.com/" target="_blank"
          ><i class="fa-solid fa-paperclip text-white"></i
          ><span class="mx-2">https://sdcovering.com/</span></a
        >
      </p>
    </div>
  </section>
  <section @fadeInOut>
    <div class="row">
      <div class="col-12 col-lg-7 col-md-8 col-sm-12">
        <div class="featuredProjectImage">
          <img class="responsiveImageCover" src="assets/images/sdFe.png" alt="someImage.png" />
        </div>
      </div>
      <div class="col-12 col-lg-5 col-md-4 col-sm-12">
        <p class="text-white font-20 line-height-28 font-weight-500 pb-2"
          >SD Covering is an advance e-commerce platform to buy jewelleries
          online.
      </p>
        <p class="text-white font-20 line-height-28 font-weight-500 pb-2">
          TECH : Angular 17 , Node JS , Mongo DB , Express JS
        </p>
      </div>
    </div>
  
    <div class="py-3">
      <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
        <li>
          The website is developed in Angular 17 with angular material ,bootstrap
          ,ng-bootstrap and ngx-bootstrap ,prime ng , ant-design , ng-zoro for
          styling the componenets.
        </li>
        <li>
          Creted advance filters and sorting with query params in the url that
          benefit in url sharing while keeping filters on , seo benefits etc.
        </li>
        <li>Used signals for handling cart updation</li>
       
        <li>
          We also have the feature of having simple and products with variants
        </li>
      
        <li>Made use of signals for emitting data across components</li>
        <li>
          Made use of interceptors for authentication and attaching request
          headers.
        </li>
        <li>Integrated seamless checkout process and cart management etc</li>
        <li>Used swiper js for sliders</li>
      </ul>
    </div>
  
    <div class="headingParaFlex">
      <p
        class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
      >
        SD COVERING ADMIN PANEL / BACKEND:
      </p>
      <p class="font-dmsans text-white cursor-pointer font-18">
        <a class="text-white" href="https://admin.sdcovering.in/" target="_blank"
          ><i class="fa-solid fa-paperclip text-white"></i
          ><span class="mx-2">https://admin.sdcovering.in/</span></a
        >
      </p>
    </div>
  
    <div class="row">
      <div class="col-12 col-lg-7 col-md-8 col-sm-12">
        <div class="featuredProjectImage">
          <img class="responsiveImageCover" src="assets/images/sdA.png"  alt="someImage.png"/>
        </div>
      </div>
      <div class="col-12 col-lg-5 col-md-4 col-sm-12">
        <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
          >The admin panel controls the content of the main webiste that is aayra
          Jewellery
        </P>
      </div>
    </div>
  
    <div class="py-3">
      <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
        <li>
          Developed dynamic role allocation , that is we can attach permissions to
          roles , hence restricting admins to access paticular sections of the
          admin panel based on the roles , thus dynamic roles for role based
          access
        </li>
        <li>
          Developed admin panel to track orders , manage inventory , manage
          admins/users , add products with variants , add coupons etc
        </li>
        <li>
          Used JWT , HTTP only cookies , RS-256 for authentication and stored the
          private and public key in file system that gets created using crypto js
          and is updated using cron job that runs every 7 days
        </li>
        <li>
          Used url-slug for creating product slugs , category slugs etc and uuid
          for creating unique ids
        </li>
        <li>
          Used google firebase as well as amazon s3 for storage of multimedia
          using multer js
        </li>
        <li>Used moment js for handling banners based on active dates</li>
        <li>
          Developed optimized queries for fetching server sided data for the
          tables in admin as well as for the data in the main frontend website.
        </li>
        <li>
          Developed advanced queries using mongodb aggrgation pipelines for
          fetching complex data .
        </li>
        <li>Handled cart operations , wishlists , checkout ,orders atc</li>
        <li>
          Made use of mongodb transactions , aggregation pipelines etc for
          handling checkout and stock management
        </li>
       
      </ul>
    </div>
  </section>
  