<section>
    <div class="headingParaFlex">
      <p
        class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
      >
        MINI-ECOMMERCE :
      </p>
      <p class="font-dmsans text-white cursor-pointer font-18">
        <a class="text-white" href="https://mini-ecommerce-iota.vercel.app/" target="_blank"
          ><i class="fa-solid fa-paperclip text-white"></i
          ><span class="mx-2">https://mini-ecommerce-iota.vercel.app/</span></a
        >
      </p>
    </div>
  </section>
  <section @fadeInOut>
    <div class="row">
      <div class="col-12 col-lg-7 col-md-8 col-sm-12">
        <div class="featuredProjectImage">
          <img class="responsiveImageCover" src="assets/images/mini-ecommerce.jpg" alt="someImage.png"/>
        </div>
      </div>
      <div class="col-12 col-lg-5 col-md-4 col-sm-12">
        <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
          >Its basically an e-commerce platform with basic features like cart and order management just to demonstrate how an e-commerce functions
        </P>
        <p class="text-white font-20 line-height-28 font-weight-500 pb-2">
          TECH : Angular 18 , Node JS , Mongo DB , Express JS 
        </p>
      </div>
    </div>
  
    <div class="py-3">
      <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
        <li>
          The website is developed in Angular 18 with bootstrap as the styling library
        </li>
        <li>
          Implemented authentication using jwt and http cookies , with basic ecommerce features such as ( inventory , cart , order ) management and other necessary ecommerce features.
        </li>
        <li>
          Included role based authentication for logging in as a user and the admin to manage products on the website
        </li>
        <li>
          Made use of cloudinary to handle storage of media on the website.
        </li>
        <li>
          Developed all other APIs that are used in the frontend
        </li>
      </ul>
    </div>
  
    
  