<app-header />
<section class="default-section-padding">
  <div class="container-xl position-relative">
  <p
    class="font-40 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-center"
  >
    Projects
  </p>
  <i class="fa-solid fa-arrow-left text-white font-20 positionLeftAbsolute"></i>
  </div>
</section>
<section class="default-section-padding">
    <div class="container-xl">
  <div class="row">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      XITY :
    </p>
    <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform which contains the listings for a wide range of businesses across multiple categories.A user can search for listings by locating through pincodes and get connected to the business . Anybody can have a business and that person can host its business on this website </P>
    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
        <div class="displayImageHolder">
            <img class="responsiveImageCover" src="assets/images/xity.jpg">
        </div>
    </div>
    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
        <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">
            Developed the frontend of the website in angular using HTML , CSS and typescript .<br> Made use of frameworks such as prime-ng , bootstrap (ng and ngx included) and material UI to make the development process even faster and 100 percent responsive.
            Used libraries such as apache e-charts and ngx e-charts to display pictorial data.<br>
            Implemented map functionalities using google maps and added custom funtionalities.<br>
            Developed APIs for all the functionalities in the front end as well as admin panel.<br>
            Used mongo DB as database and amazon s3 as well as google firebase for storage.Written complex queries using mongo DB aggregation pipelines.<br>
            Used hashing techniques that are industry standard as usual. <br>
            Used libraries such as date-fns and moment js to handle dates.<br>
            and much more...            
        </P>
    </div>
  </div>
</div>
</section>
<section class="default-section-padding">
    <div class="container-xl">
  <div class="row">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      XITY ADMIN PANEL :
    </p>
    <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform for managing the content of the xity front end website as well as adding agents assigned to specific business areas and much more</P>
    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
        <div class="displayImageHolder">
            <img class="responsiveImageCover" src="assets/images/adminxity.jpg">
        </div>
    </div>
    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
        <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">

            Created an admin panel that can change content for multiple websites ,<br> basically the concept is we have multiple websites hosted on different domains , to manage the content for all we have a single admin panel . <br>Made use of interceptors to handle this<br>
            Implemented role based authentication for the system.<br>
            Developed APIs for all the functionalities in the admin panel and wrote complex queries using mongo db aggregation pipelines.<br>
            and much more...            
        </P>
    </div>
  </div>
</div>
</section>

<section class="default-section-padding">
    <div class="container-xl">
  <div class="row">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      AAYRA :
    </p>
    <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform which offers users to purchase gold and silver jewellery </P>
    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
        <div class="displayImageHolder">
            <img class="responsiveImageCover" src="assets/images/aayra.jpg">
        </div>
    </div>
    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
        <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">
            Developed the frontend of the website in angular using HTML , CSS and typescript .<br> Made use of frameworks such as prime-ng , bootstrap (ng and ngx included) and material UI to make the development process even faster and 100 percent responsive.
            Made use of http only cookies for authentication, used http interceptors for error handling<br>
            Used local storage for managing carts without authentication<br>
            Developed APIs for all the functionalities in the front end as well as admin panel.<br>
            Used mongo DB as database and amazon s3 as well as google firebase for storage.Written complex queries using mongo DB aggregation pipelines.<br>
            Made use of ng zoro and ant-design for handling file uploads<br>
            Used hashing techniques that are industry standard as usual. <br>
            Used libraries such as date-fns and moment js to handle dates.<br>
            and much more...            
        </P>
    </div>
  </div>
</div>
</section>
<section class="default-section-padding">
    <div class="container-xl">
  <div class="row">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      AAYRA ADMIN PANEL :
    </p>
    <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform for managing the content of the aayra front end website and much more</P>
    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
        <div class="displayImageHolder">
            <img class="responsiveImageCover" src="assets/images/aayraadmin.jpg">
        </div>
    </div>
    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
        <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">

            Created an admin panel capable of inventory and stock management and managing the content of the frontend as well<br> 
            Implemented role based authentication for the system as well as dynamic role allocation.<br>
            Used http only cookies for authentication<br>
            Developed APIs for all the functionalities in the admin panel and wrote complex queries using mongo db aggregation pipelines.<br>
            and much more...            
        </P>
    </div>
  </div>
</div>
</section>

<section class="default-section-padding">
    <div class="container-xl">
  <div class="row">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      DANALAXMI MATRIMONY GROUP:
    </p>
    <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform which offers users to find their partners online for marriage </P>
    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
        <div class="displayImageHolder">
            <img class="responsiveImageCover" src="assets/images/danalaxmiFE.jpg">
        </div>
    </div>
    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
        <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">
            Developed the frontend of the website in angular using HTML , CSS and typescript .<br> Made use of frameworks such as prime-ng , bootstrap (ng and ngx included) and material UI to make the development process even faster and 100 percent responsive.
            Made use of http only cookies for authentication, used http interceptors for error handling<br>
            Used local storage for managing carts without authentication<br>
            Developed APIs for all the functionalities in the front end as well as admin panel.<br>
            Used mongo DB as database and amazon s3 as well as google firebase for storage.Written complex queries using mongo DB aggregation pipelines.<br>
            Made use of ng zoro and ant-design for handling file uploads<br>
            Used hashing techniques that are industry standard as usual. <br>
            Used libraries such as date-fns and moment js to handle dates.<br>
            and much more...            
        </P>
    </div>
  </div>
</div>
</section>
<section class="default-section-padding">
    <div class="container-xl">
  <div class="row">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      DANALAXMI ADMIN PANEL :
    </p>
    <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform for managing the content of the aayra front end website and much more</P>
    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
        <div class="displayImageHolder">
            <img class="responsiveImageCover" src="assets/images/danalaxmiadmin.jpg">
        </div>
    </div>
    <div class="col-12 col-lg-6 col-md-6 col-sm-12">
        <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">

            Created an admin panel capable of inventory and stock management and managing the content of the frontend as well<br> 
            Implemented role based authentication for the system as well as dynamic role allocation.<br>
            Used http only cookies for authentication<br>
            Developed APIs for all the functionalities in the admin panel and wrote complex queries using mongo db aggregation pipelines.<br>
            and much more...            
        </P>
    </div>
  </div>
</div>
</section>

<section class="default-section-padding">
  <div class="container-xl">
<div class="row">
  <p
    class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
  >
    ZEST NUTRITION:
  </p>
  <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform which offers users to find their partners online for marriage </P>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <div class="displayImageHolder">
          <img class="responsiveImageCover" src="assets/images/zest.jpg">
      </div>
  </div>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">
          Developed the frontend of the website in angular using HTML , CSS and typescript .<br> Made use of frameworks such as prime-ng , bootstrap (ng and ngx included) and material UI to make the development process even faster and 100 percent responsive.
          Made use of http only cookies for authentication, used http interceptors for error handling<br>
          Used local storage for managing carts without authentication<br>
          Developed APIs for all the functionalities in the front end as well as admin panel.<br>
          Used mongo DB as database and amazon s3 as well as google firebase for storage.Written complex queries using mongo DB aggregation pipelines.<br>
          Made use of ng zoro and ant-design for handling file uploads<br>
          Used hashing techniques that are industry standard as usual. <br>
          Used libraries such as date-fns and moment js to handle dates.<br>
          and much more...            
      </P>
  </div>
</div>
</div>
</section>
<section class="default-section-padding">
  <div class="container-xl">
<div class="row">
  <p
    class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
  >
    XARK :
  </p>
  <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform for managing the content of the aayra front end website and much more</P>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <div class="displayImageHolder">
          <img class="responsiveImageCover" src="assets/images/xark.jpg">
      </div>
  </div>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">

          Created an admin panel capable of inventory and stock management and managing the content of the frontend as well<br> 
          Implemented role based authentication for the system as well as dynamic role allocation.<br>
          Used http only cookies for authentication<br>
          Developed APIs for all the functionalities in the admin panel and wrote complex queries using mongo db aggregation pipelines.<br>
          and much more...            
      </P>
  </div>
</div>
</div>
</section>

<section class="default-section-padding">
  <div class="container-xl">
<div class="row">
  <p
    class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
  >
    VEEVBAGS :
  </p>
  <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform for managing the content of the aayra front end website and much more</P>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <div class="displayImageHolder">
          <img class="responsiveImageCover" src="assets/images/veev.jpg">
      </div>
  </div>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">

          Created an admin panel capable of inventory and stock management and managing the content of the frontend as well<br> 
          Implemented role based authentication for the system as well as dynamic role allocation.<br>
          Used http only cookies for authentication<br>
          Developed APIs for all the functionalities in the admin panel and wrote complex queries using mongo db aggregation pipelines.<br>
          and much more...            
      </P>
  </div>
</div>
</div>
</section>


<section class="default-section-padding">
  <div class="container-xl">
<div class="row">
  <p
    class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
  >
    SHAMMAH :
  </p>
  <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform for managing the content of the aayra front end website and much more</P>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <div class="displayImageHolder">
          <img class="responsiveImageCover" src="assets/images/shammah.jpg">
      </div>
  </div>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">

          Created an admin panel capable of inventory and stock management and managing the content of the frontend as well<br> 
          Implemented role based authentication for the system as well as dynamic role allocation.<br>
          Used http only cookies for authentication<br>
          Developed APIs for all the functionalities in the admin panel and wrote complex queries using mongo db aggregation pipelines.<br>
          and much more...            
      </P>
  </div>
</div>
</div>
</section>

<section class="default-section-padding">
  <div class="container-xl">
<div class="row">
  <p
    class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
  >
    RM PUBLIC SCHOOL :
  </p>
  <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform for managing the content of the aayra front end website and much more</P>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <div class="displayImageHolder">
          <img class="responsiveImageCover" src="assets/images/rm.jpg">
      </div>
  </div>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">

          Created an admin panel capable of inventory and stock management and managing the content of the frontend as well<br> 
          Implemented role based authentication for the system as well as dynamic role allocation.<br>
          Used http only cookies for authentication<br>
          Developed APIs for all the functionalities in the admin panel and wrote complex queries using mongo db aggregation pipelines.<br>
          and much more...            
      </P>
  </div>
</div>
</div>
</section>

<section class="default-section-padding">
  <div class="container-xl">
<div class="row">
  <p
    class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
  >
    JUDE BILLING :
  </p>
  <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform for managing the content of the aayra front end website and much more</P>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <div class="displayImageHolder">
          <img class="responsiveImageCover" src="assets/images/jude.jpg">
      </div>
  </div>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">

          Created an admin panel capable of inventory and stock management and managing the content of the frontend as well<br> 
          Implemented role based authentication for the system as well as dynamic role allocation.<br>
          Used http only cookies for authentication<br>
          Developed APIs for all the functionalities in the admin panel and wrote complex queries using mongo db aggregation pipelines.<br>
          and much more...            
      </P>
  </div>
</div>
</div>
</section>

<section class="default-section-padding">
  <div class="container-xl">
<div class="row">
  <p
    class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
  >
    OI TETRA :
  </p>
  <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform for managing the content of the aayra front end website and much more</P>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <div class="displayImageHolder">
          <img class="responsiveImageCover" src="assets/images/oi.jpg">
      </div>
  </div>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">

          Created an admin panel capable of inventory and stock management and managing the content of the frontend as well<br> 
          Implemented role based authentication for the system as well as dynamic role allocation.<br>
          Used http only cookies for authentication<br>
          Developed APIs for all the functionalities in the admin panel and wrote complex queries using mongo db aggregation pipelines.<br>
          and much more...            
      </P>
  </div>
</div>
</div>
</section>

<section class="default-section-padding">
  <div class="container-xl">
<div class="row">
  <p
    class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
  >
    MAAS GLOBAL :
  </p>
  <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform for managing the content of the aayra front end website and much more</P>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <div class="displayImageHolder">
          <img class="responsiveImageCover" src="assets/images/maas.jpg">
      </div>
  </div>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">

          Created an admin panel capable of inventory and stock management and managing the content of the frontend as well<br> 
          Implemented role based authentication for the system as well as dynamic role allocation.<br>
          Used http only cookies for authentication<br>
          Developed APIs for all the functionalities in the admin panel and wrote complex queries using mongo db aggregation pipelines.<br>
          and much more...            
      </P>
  </div>
</div>
</div>
</section>

<section class="default-section-padding">
  <div class="container-xl">
<div class="row">
  <p
    class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
  >
    KANAPPA MEMORIAL HOSPITAL :
  </p>
  <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform for managing the content of the aayra front end website and much more</P>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <div class="displayImageHolder">
          <img class="responsiveImageCover" src="assets/images/kannappa.jpg">
      </div>
  </div>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">

          Created an admin panel capable of inventory and stock management and managing the content of the frontend as well<br> 
          Implemented role based authentication for the system as well as dynamic role allocation.<br>
          Used http only cookies for authentication<br>
          Developed APIs for all the functionalities in the admin panel and wrote complex queries using mongo db aggregation pipelines.<br>
          and much more...            
      </P>
  </div>
</div>
</div>
</section>

<section class="default-section-padding">
  <div class="container-xl">
<div class="row">
  <p
    class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
  >
    INSHLT :
  </p>
  <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform for managing the content of the aayra front end website and much more</P>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <div class="displayImageHolder">
          <img class="responsiveImageCover" src="assets/images/inshlt.jpg">
      </div>
  </div>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">

          Created an admin panel capable of inventory and stock management and managing the content of the frontend as well<br> 
          Implemented role based authentication for the system as well as dynamic role allocation.<br>
          Used http only cookies for authentication<br>
          Developed APIs for all the functionalities in the admin panel and wrote complex queries using mongo db aggregation pipelines.<br>
          and much more...            
      </P>
  </div>
</div>
</div>
</section>

<section class="default-section-padding">
  <div class="container-xl">
<div class="row">
  <p
    class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
  >
    IICCC :
  </p>
  <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform for managing the content of the aayra front end website and much more</P>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <div class="displayImageHolder">
          <img class="responsiveImageCover" src="assets/images/iiccc.jpg">
      </div>
  </div>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">

          Created an admin panel capable of inventory and stock management and managing the content of the frontend as well<br> 
          Implemented role based authentication for the system as well as dynamic role allocation.<br>
          Used http only cookies for authentication<br>
          Developed APIs for all the functionalities in the admin panel and wrote complex queries using mongo db aggregation pipelines.<br>
          and much more...            
      </P>
  </div>
</div>
</div>
</section>

<section class="default-section-padding">
  <div class="container-xl">
<div class="row">
  <p
    class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
  >
    DOC MANAGEMENT SOFTWARE :
  </p>
  <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform for managing the content of the aayra front end website and much more</P>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <div class="displayImageHolder">
          <img class="responsiveImageCover" src="assets/images/doc.jpg">
      </div>
  </div>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">

          Created an admin panel capable of inventory and stock management and managing the content of the frontend as well<br> 
          Implemented role based authentication for the system as well as dynamic role allocation.<br>
          Used http only cookies for authentication<br>
          Developed APIs for all the functionalities in the admin panel and wrote complex queries using mongo db aggregation pipelines.<br>
          and much more...            
      </P>
  </div>
</div>
</div>
</section>

<section class="default-section-padding">
  <div class="container-xl">
<div class="row">
  <p
    class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
  >
    BANK MANAGEMENT SYSTEM :
  </p>
  <P class="text-white font-20 line-height-28 font-weight-500 pb-2">It is a platform for managing the content of the aayra front end website and much more</P>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <div class="displayImageHolder">
          <img class="responsiveImageCover" src="assets/images/bank.jpg">
      </div>
  </div>
  <div class="col-12 col-lg-6 col-md-6 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 phonePadding">

          Created an admin panel capable of inventory and stock management and managing the content of the frontend as well<br> 
          Implemented role based authentication for the system as well as dynamic role allocation.<br>
          Used http only cookies for authentication<br>
          Developed APIs for all the functionalities in the admin panel and wrote complex queries using mongo db aggregation pipelines.<br>
          and much more...            
      </P>
  </div>
</div>
</div>
</section>


<app-footer></app-footer>
