<app-header />
<section class="default-section-padding">
  <div class="container-xl position-relative">
    <p
      class="font-40 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-center"
    >
      Projects
    </p>
    <i
      (click)="goBack()"
      class="fa-solid fa-arrow-left text-white font-20 positionLeftAbsolute"
    ></i>
  </div>
</section>
<section>
  <div class="container-xl">
    <div class="row">
      <div class="col-12 col-lg-3 col-md-3 col-sm-12">
        <div class="router">
          <div class="projectPanelLarge">
            <div
              routerLink="/projects/xity"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                XITY
              </p>
            </div>
            <div
              routerLink="/projects/aayra"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                AAYRA JEWELLERY
              </p>
            </div>
            <div
              routerLink="/projects/danalaxmi"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                DANALAXMI MATRIMONY GROUP
              </p>
            </div>
            <div
              routerLink="/projects/veev-bags"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                VEEV BAGS
              </p>
            </div>
            <div
              routerLink="/projects/sai-mandir-charlotte"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                SAI MANDIR CHARLOTTE
              </p>
            </div>
            <div
              routerLink="/projects/zest-nutrition"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                ZEST NUTRITION
              </p>
            </div>
            <div
              routerLink="/projects/sd-covering"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                SD COVERING
              </p>
            </div>
            <div
              routerLink="/projects/xark"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                XCROS
              </p>
            </div>
            <div
              routerLink="/projects/shammah"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                SHAMMAH BRANDICRAFTS
              </p>
            </div>
            <div
              routerLink="/projects/rm-public"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                RM PUBLIC SCHOOL
              </p>
            </div>
            <div
              routerLink="/projects/oitetra"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                OI TETRA
              </p>
            </div>
            <div
              routerLink="/projects/jude-billing"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                JUDE BILLING
              </p>
            </div>
            <div
              routerLink="/projects/maas-global"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                MAAS GLOBAL
              </p>
            </div>
            <div
              routerLink="/projects/kanappa"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                KANAPPA MEMORIAL HOSPITAL
              </p>
            </div>
            <div
              routerLink="/projects/inshlt"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                INSHLT
              </p>
            </div>
            <div
              routerLink="/projects/iiccc"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                IICCC
              </p>
            </div>
            <div
              routerLink="/projects/doc-management"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                DOC MANAGEMENT
              </p>
            </div>
            <div
              routerLink="/projects/bank-management"
              routerLinkActive="highlightClass"
              class="items"
            >
              <p
                class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
              >
                BANK MANAGEMENT
              </p>
            </div>

            <div
            routerLink="/projects/mini-ecommerce"
            routerLinkActive="highlightClass"
            class="items"
          >
            <p
              class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
            >
            MINI-ECOMMERCE
            </p>
          </div>

          <div
          routerLink="/projects/aquatic"
          routerLinkActive="highlightClass"
          class="items"
        >
          <p
            class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
          >
          AQUATIC ANGELS
          </p>
        </div>

        <div
        routerLink="/projects/kannada-muhurtham"
        routerLinkActive="highlightClass"
        class="items"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
        KANNADA MUHURTHAM
        </p>
      </div>

      <div
      routerLink="/projects/ymca"
      routerLinkActive="highlightClass"
      class="items"
    >
      <p
        class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
      >
      YMCA
      </p>
    </div>

    <div
    routerLink="/projects/a-2-a"
    routerLinkActive="highlightClass"
    class="items"
  >
    <p
      class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
    >
    A2A
    </p>
  </div>

          </div>
          <div class="projectPanelSmall mb-4">
            <div class="buttonALignCenter">
              <button (click)="open(content)" class="default-btn">
                Select another project
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-9 col-md-3 col-sm-12">
        <router-outlet />
      </div>
    </div>
  </div>
</section>

<ng-template #content let-offcanvas>
  <div class="offcanvas-body position-relative">
    <div class="router">
      <div
        routerLink="/projects/xity"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          XITY
        </p>
      </div>
      <div
        routerLink="/projects/aayra"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          AAYRA JEWELLERY
        </p>
      </div>
      <div
        routerLink="/projects/danalaxmi"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          DANALAXMI MATRIMONY GROUP
        </p>
      </div>
      <div
        routerLink="/projects/veev-bags"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          VEEV BAGS
        </p>
      </div>
      <div
        routerLink="/projects/sai-mandir-charlotte"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          SAI MANDIR CHARLOTTE
        </p>
      </div>
      <div
        routerLink="/projects/zest-nutrition"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          ZEST NUTRITION
        </p>
      </div>
      <div
      routerLink="/projects/sd-covering"
      routerLinkActive="highlightClass"
      class="items"
      (click)="offcanvas.dismiss('Cross click')"
    >
      <p
        class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
      >
        SD COVERING
      </p>
    </div>
      <div
        routerLink="/projects/xark"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          XCROS
        </p>
      </div>
      <div
        routerLink="/projects/shammah"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          SHAMMAH BRANDICRAFTS
        </p>
      </div>
      <div
        routerLink="/projects/rm-public"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          RM PUBLIC SCHOOL
        </p>
      </div>
      <div
        routerLink="/projects/oitetra"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          OI TETRA
        </p>
      </div>
      <div
        routerLink="/projects/jude-billing"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          JUDE BILLING
        </p>
      </div>
      <div
        routerLink="/projects/maas-global"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          MAAS GLOBAL
        </p>
      </div>
      <div
        routerLink="/projects/kanappa"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          KANAPPA MEMORIAL HOSPITAL
        </p>
      </div>
      <div
        routerLink="/projects/inshlt"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          INSHLT
        </p>
      </div>
      <div
        routerLink="/projects/iiccc"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          IICCC
        </p>
      </div>
      <div
        routerLink="/projects/doc-management"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          DOC MANAGEMENT
        </p>
      </div>
      <div
        routerLink="/projects/bank-management"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          BANK MANAGEMENT
        </p>
      </div>

      <div
        routerLink="/projects/kannada-muhurtham"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          KANNADA MUHURTHAM
        </p>
      </div>

      <div
        routerLink="/projects/aquatic"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          AQUATIC ANGELS
        </p>
      </div>

      <div
        routerLink="/projects/ymca"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          YMCA
        </p>
      </div>

      <div
        routerLink="/projects/a-2-a"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          A2A
        </p>
      </div>

      <div
        routerLink="/projects/mini-ecommerce"
        routerLinkActive="highlightClass"
        class="items"
        (click)="offcanvas.dismiss('Cross click')"
      >
        <p
          class="font-20 font-dmsans line-height-28 font-weight-600 phonePadding"
        >
          MINI-ECOMMERCE
        </p>
      </div>

      <button
        class="default-btn closeOffcanvas mx-3"
        (click)="offcanvas.dismiss('Cross click')"
      >
        CLOSE
      </button>
    </div>
  </div>
</ng-template>
