<section>
  <div class="headingParaFlex">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      VEEV BAGS :
    </p>
    <p class="font-dmsans text-white cursor-pointer font-18">
      <a class="text-white" href="https://veevbags.com/" target="_blank"
        ><i class="fa-solid fa-paperclip text-white"></i
        ><span class="mx-2">https://veevbags.com/</span></a
      >
    </p>
  </div>

  <P class="text-white font-20 line-height-28 font-weight-500 pb-2"> </P>
</section>

<section @fadeInOut>
  <div class="row">
    <div class="col-12 col-lg-7 col-md-8 col-sm-12">
      <div class="featuredProjectImage">
        <img class="responsiveImageCover" src="assets/images/veev.jpg" alt="someImage.png"/>
      </div>
    </div>
    <div class="col-12 col-lg-5 col-md-4 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
        >Veev Bags is a premium e-sommerce website for selling bags of various
        types online , the bags range from Rs 1000 to Rs 50000.
      </P>
      <p class="text-white font-20 line-height-28 font-weight-500 pb-2">
        TECH : Angular 18 , Node JS , Mongo DB , Express JS
      </p>
    </div>
  </div>

  <div class="py-3">
    <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
      <li>
        The website is developed in Angular 18 with angular material ,bootstrap
        ,ng-bootstrap and ngx-bootstrap for styling the componenets.
      </li>
      <li>Developed complete responsive UI from scrath.</li>
      <li>Used swiper js and slick carousel for sliders in the app.</li>
      <li>Used ngx skeleton loader for between get calls for a sleek look</li>
    </ul>
  </div>
</section>
