<section class="default-section-padding">
  <div class="container-xl">
    <nav>
      <div class="headerHolder">
        <ul class="headerFlex">
          <li
          (click)="goToWeb('https://github.com/akavishwa19')"
            class="font-16 font-weight-700 line-height-16 zeroPaddingBottom zeroMarginBottom mx-3 cursor-pointer"
          >
            <i class="fa-brands fa-github"></i>
          </li>
          <li
          (click)="goToWeb('https://www.linkedin.com/in/akash-vishwakarma-714838190/')"
            class="font-16 font-weight-700 line-height-16 zeroPaddingBottom zeroMarginBottom mx-3 cursor-pointer"
          >
            <i class="fa-brands fa-linkedin-in"></i>
          </li>
          <li
          (click)="goToWeb('https://x.com/akash19102001')"
            class="font-16 font-weight-700 line-height-16 zeroPaddingBottom zeroMarginBottom mx-3 cursor-pointer"
          >
            <i class="fa-brands fa-twitter"></i>
          </li>
          <li
          (click)="goToWeb('https://www.instagram.com/whereisakashh/')"
            class="font-16 font-weight-700 line-height-16 zeroPaddingBottom zeroMarginBottom mx-3 cursor-pointer"
          >
            <i class="fa-brands fa-instagram"></i>
          </li>
        </ul>
        <ul class="contactFlex">
            <li
            (click)="goToWeb('tel:+91-7038618205')"
            class="font-16 font-weight-700 line-height-16 text-white zeroPaddingBottom zeroMarginBottom mx-3 cursor-pointer"
          >
            +91-7038618205
          </li>
          <li
          (click)="goToWeb('mailto:akash19102001@gmail.com')"
            class="font-16 font-weight-700 line-height-16 text-white zeroPaddingBottom zeroMarginBottom mx-3 cursor-pointer"
          >
            akash19102001&#64;gmail.com
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
