<section>
  <div class="headingParaFlex">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      SAI MANDIR CHARLOTTE :
    </p>
    <p class="font-dmsans text-white cursor-pointer font-18">
      <a
        class="text-white"
        href="https://saimandhircharlotte.org/"
        target="_blank"
        ><i class="fa-solid fa-paperclip text-white"></i
        ><span class="mx-2">https://saimandhircharlotte.org/</span></a
      >
    </p>
  </div>
</section>

<section @fadeInOut>
  <div class="row">
    <div class="col-12 col-lg-7 col-md-8 col-sm-12">
      <div class="featuredProjectImage">
        <img class="responsiveImageCover" src="assets/images/saiMandir.jpg" alt="someImage.png"/>
      </div>
    </div>
    <div class="col-12 col-lg-5 col-md-4 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
        >Sai Mandir Charlotte is a US based temple website , it gives the users
        updates about the festivals ,events , pujas etc . It also offers users
        to donate to the temple online.
      </P>
      <p class="text-white font-20 line-height-28 font-weight-500 pb-2">
        TECH : Angular 15 , Node JS , Mongo DB , Express JS
      </p>
    </div>
  </div>

  <div class="py-3">
    <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
      <li>
        The website is developed in Angular 15 with angular material ,bootstrap
        ,ng-bootstrap and ngx-bootstrap for styling the componenets.
      </li>
      <li>
        Developed the pages that are fed with dynamic content throughout ,eg :
        events , festivals , activities etc
      </li>
      <li>Handled dates using moment js</li>
      <li>
        Developed admin dashboard using nebular , that controls the content for
        the main website.
      </li>
      <li>
        Generated pdfs on the server for invoice after payment using
        html-pdf-node and pdf-lib
      </li>
      <li>
        Integrated role based authentication for user , admin and superadmin
        login
      </li>
      <li>Used sendgrid to send mail for OTP based login</li>
    </ul>
  </div>
</section>
