<section>
  <div class="headingParaFlex">
    <p
      class="font-36 line-height-48 text-white font-weight-800 text-align-left zeroPaddingBottom zeroMarginBottom text-align-left"
    >
      RM PUBLIC SCHOOL :
    </p>
    <p class="font-dmsans text-white cursor-pointer font-18">
      <a class="text-white" href="https://rmpublicschool.org/" target="_blank"
        ><i class="fa-solid fa-paperclip text-white"></i
        ><span class="mx-2">https://rmpublicschool.org/</span></a
      >
    </p>
  </div>
</section>

<section @fadeInOut>
  <div class="row">
    <div class="col-12 col-lg-7 col-md-8 col-sm-12">
      <div class="featuredProjectImage">
        <img class="responsiveImageCover" src="assets/images/rm.jpg" />
      </div>
    </div>
    <div class="col-12 col-lg-5 col-md-4 col-sm-12">
      <P class="text-white font-20 line-height-28 font-weight-500 pb-2"
        >RM Public school is a school in Bihar , India , providing education to
        students from class 1 to 12.
      </P>
      <p class="text-white font-20 line-height-28 font-weight-500 pb-2">
        TECH : Angular 15 , HTML , CSS
      </p>
    </div>
  </div>

  <div class="py-3">
    <ul class="text-white font-20 line-height-28 font-weight-500 pb-2 px-4">
      <li>
        The website is developed in Angular 15 with angular material ,bootstrap
        ,ng-bootstrap and ngx-bootstrap for styling the componenets.
      </li>
      <li>
        Developed the pages and design for some of the pages of the website.
      </li>
      <li>Added print functionality for the admission forms</li>
    </ul>
  </div>
</section>
